<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
    <form method="post" action="/logout">
        <button type="submit">Выйти из личного кабинета</button>
    </form>
    <h1>Главная страница магазина</h1>
    <h2>Доступные товары: </h2>
    <div th:each="product : ${products}">
        <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
        <br>
        <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
        <p th:text="'Цена: ' + ${product.getPrice()}"></p>
        <hr>
    </div>
</body>
</html>