body {
    min-width: 320px;
    max-width: 1440px;
}

.form-container {
    margin: 80px auto;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.products-title {
    font-size: 28px;
    margin-top: 20px;
}

.form {
    width: 50%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: brown;
}
